{% extends "AppLuis/padre.html" %} 
{% load static %} 
{% block titulo %}
CLASIFICACION 
{% endblock %} 

{% block descripcion %}

ACA PODRAS VER LA QUALY DE
LOS PARTICIPANTES 

{% endblock %} 

{% block descripcion2 %} 

{% if clasificaciones%}

<ul>
  <ul style="color: white">
  {% for tiempo in clasificaciones %}
  <li>Circuito: {{tiempo.circuito}} ----- tiempo : {{tiempo.tiempo}}</li>
  <a
    class="btn btn-primary"
    href="{% url 'ELIMINAR_CLASIFICACION' tiempo.tiempo  %}"
    >Eliminar Tiempo</a
  >

  {% endfor %}
  
  {% else %}
</ul>

<h3>
  >
  <p style="color: aliceblue">
    no hay resultados que coincidan con la busqueda
  </p>
  {% endif %} 
  
  {% endblock %} 
  
  {% block url %}

  <a class="btn btn-primary" href="{% url 'CREAR_CLASIFICACION' %}"
    >Crear Qualy</a
  >

  {% endblock %}
</h3>
