{% extends "AppLuis/padre.html" %} {% load static %} {% block titulo %} Pagina
de pilotos f1 {% endblock %} {% block descripcion2 %} Crea o ve los pilotos
registrados {% if pilotos %}

<ul>
  <ul style="color: white">
    {% for piloto in pilotos %}
    <li>Nombre: {{piloto.nombre}} ----- Apellido : {{piloto.apellido}}</li>

    <a class="btn btn-primary" href="{% url 'ELIMINAR_PILOTO' piloto.nombre %}">
      Eliminar Piloto</a
    >
    <a
      class="btn btn-primary"
      href="{% url 'ACTUALIZAR_PILOTO' piloto.nombre %}"
    >
      Editar Piloto</a
    >

    {% endfor %}
  </ul>
  {% else %}

  <h3>
    >
    <p style="color: aliceblue">
      no hay resultados que coincidan con la busqueda
    </p>
    {% endif %} {% endblock %} {% block url %}

    <a class="btn btn-primary" href="{% url 'CREAR_PILOTO' %}">Crear Piloto</a>

    {% endblock %}
  </h3>
</ul>
